body{
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 40px;
}

main{
  flex-grow: 1;
}

#nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.nav_buttons{
  display: flex;
  gap: 30px;
}

.link{
  text-decoration: underline;
  color: rgb(180, 183, 255);
}

@media (width <= 600px){
  #root{
    padding: 20px;
  }
  #nav .title{
   font-size: 4rem !important; 
   margin-bottom: 10px !important;
  }

  .nav_buttons{
    flex-direction: column;
    gap: 10px;
  }

  .nav_buttons .MuiDivider-root{
    display: none !important;
  }

  .task_edit_title{
    font-size: 2rem !important;
  }

  .finances_text{
    font-size: 1.5rem !important;
  }
}


#task_edit{
  display: flex;
  flex-direction: column;
  width: min(100%, 800px);
  gap: 20px;
  margin: 0 auto;
}

#comments_container{
  width: min(100%, 800px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

#comment_input{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#comments{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#comments > div{
  background-color: rgb(103, 103, 103);
  border-radius: 15px;
  padding: 10px;
  border-top-left-radius: 0;
}

#task_view .task_card{
  width: min(100%, 800px);
  margin: 0 auto;
}